/* Reset de estilos y ajustes generales */
body, h1, h2, h3, p, ul, li {
    margin: 10;
    padding:10;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
}

#logo {
    width: 75%;
    height: 75%;
}

h1 {
    display: inline-block;
    margin-left: 10px;
}

hr {
    border: 1px solid #ddd;
}

.menu-movil {
    list-style-type: none;
    margin: 10px 0;
}

.menu-movil li {
    display: inline;
    margin-right: 10px;
}

.menu-movil a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.containerFind {
    margin: 20px 0;
}

#searchInput {
    padding: 8px;
    font-size: 16px;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.main {
    margin-top: 20px;
}

#loading {
    display: none; /* Ocultar la imagen de carga por defecto */
}

.navegacion {
    margin-top: 20px;
}

#containerpk {
    display: flex;
    flex-wrap: wrap;
    background-color:aquamarine;
}
section{
    background-color: lightskyblue;
    display: flex;
    flex-wrap: wrap;
}
section div{
    float: right;
    font-size: medium;
    font-weight: bold;
    color: brown;
    margin-right: 15px;
}

article {
    width: 30%;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

article img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {

h1{
    display:none;
}
header{
    justify-content: space-around;
}
.stylemenu{
    display: inline;
}
.menu-movil{
    display: none;
}
#menumovil li:nth-child(-n+2){
    border: none;
}
#containerpk article{
    width: 100%;
    border: 2px black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
    
}