#logo{
    width: 200px;
    background-color: bisque;
}

/*header es un contenedor en el body*/

header{
    display: flex;
    margin-right: 15%;
    justify-content: space-around;
    background-color: cornflowerblue;
}
.container{
    width: 80%;
    margin: 0 auto;
    background-color: cadetblue;
}
.stylemenu{
    list-style: none;
    display: flex;
}
.stylemenu a{
    text-decoration: none;
    display: block;
    margin: 10px;
}
#menumovil li:nth-child(-n+2){
    border-right: 3px black;
}
#menumovil{
    font-size: medium;
    font-weight: bold;
    font-style: oblique;
    color: brown;
}
#loading{
    display: block;
    margin: 0 auto;
    width: 10%;

}
#containerpk article{
    background-color: mediumaquamarine;
    width: 22%;
    border:2px black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1%;
}
#containerpk{
    display: flex;
    flex-wrap: wrap;
}
button{

    margin-right: 10%;
    font-size: medium;
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
    font-display: flex;
    text-align: right;
    background-color: aquamarine;
}



/*modifica como se ve en pantallas menores*/

@media screen and (max-width:400px) {

h1{
    display:none;
}
header{
    justify-content: space-around;
}
.stylemenu{
    display: inline;
}
.menu-movil{
    display: none;
}
#menumovil li:nth-child(-n+2){
    border: none;
}
#containerpk article{
    width: 100%;
    border: 2px black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
    
}